*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size:  62.5%;
}
body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
main{
    width: 95vw;
    min-width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #c28d67;
    padding: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
main .borde{
    width: 95vw;
    min-width: 300px;
    background-color: #d1b8a6;
    padding: 1rem;
    /* border: 15px solid rgb(179, 74, 231);*/
    border-radius: 5px; 
    display: flex;
    flex-flow: row wrap;
}
/* main .borde form{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
} */
main .borde form label{
 display: block;
} 
main .borde form label input{
    border: 2px solid #f1e9de;
    height: 18px;
}
main .borde form label span{
    font-weight: bolder;
    text-align: center;
}
main .borde form .circunscripcion, 
main .borde form .distrito{
    width: 50px;
}
main .borde input, main .borde span{
    width: 50%;
}
.indicaciones{
    font-size: 1.5rem;
    color: rgb(228, 55, 199);
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}
.cabecera{
    /* border: 5px solid rgb(179, 74, 231);
    border-radius: 10px; */
    margin-bottom: 15px;
}
.cabecera p{
    font-size: 1.5rem;
    color:white;
    text-align: center;
    font-weight: bolder;
}
.cabecera p span{
    font-size: 2.7rem;
    font-weight: bolder;
    text-align: center;
}
.boletas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.boletas .candidato{
    width: 25%;
    min-width: 280px;
    height: 10rem;
    background-color: white;
    border: 3px solid #c1a282;
    border-radius: 5px;
    align-self: flex-start;
    flex: 1 1 auto;
    margin: 5px 0;

}
.borde .sugerencia{
    border: 3px solid #c28d67;
    border-radius: 3px;
    background-color: white;
    margin-top: 15px;
    height: 50px;
    position: relative;
    padding: 8px;
}
.borde .sugerencia p{
    font-size: 0.5rem;
    text-align: justify;
    color: black;
}
